<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>

<body class="container">
    <div class="form-container">
        <div class="text-center">
            <h1 class="title">Change Password</h1>
            <p class="subtitle">Passwords are your own secret</p>
        </div>

        <% if (error) { %>
            <div class="alert error">
                <span>
                    <%= error %>
                </span>
            </div>
            <% } %>

                <% if (success) { %>
                    <div class="alert success">
                        <span>
                            <%= success %>
                        </span>
                    </div>
                    <% } %>

                        <form action="/api/v1/member/change-password/<%= userId %>" method="POST" class="form">
                            <div>
                                <label for="password" class="label">Password</label>
                                <input type="text" id="password" name="password" required class="input">
                            </div>

                            <div>
                                <label for="newPassword" class="label">New Password</label>
                                <input type="text" id="newPassword" name="newPassword" required class="input">
                            </div>

                            <div>
                                <label for="confirmPasswod" class="label">Confirm Password</label>
                                <input type="text" id="confirmPassword" name="confirmPassword" required class="input">
                            </div>

                            <div>
                                <button type="submit" class="button">Save</button>
                            </div>
                        </form>
                        <a href="/views/user-detail/<%= userId%>">Back</a>
    </div>
</body>

</html>