<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <div>
            <label for="perfumeName">PerfumeName</label>
            <input type="text" id="perfumeName" name="perfumeName">
        </div>
        <div>
            <label for="uri">Uri</label>
            <input type="text" id="uri" name="uri">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="price">
        </div>
        <div>
            <label for="concentration">Concentration</label>
            <input type="text" id="concentration" name="concentration">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
        </div>
        <div>
            <label for="ingredients">Ingredients</label>
            <input type="text" id="ingredients" name="ingredients">
        </div>
        <div>
            <label for="volume">Volume</label>
            <input type="text" id="volume" name="volume">
        </div>
        <div>
            <label for="targetAudience">TargetAudience</label>
            <input type="text" id="targetAudience" name="targetAudience">
        </div>
        <div>
            <select name="brandId">
                <% brands.forEach(brand=> { %>
                    <option value="<%= brand._id %>" <%=brand._id.toString()===selectedBrand?.toString() ? "selected"
                        : "" %>>
                        <%= brand.brandName %>
                    </option>
                    <% }); %>
            </select>
        </div>
        <div>
            <button type="submit">Create Perfume</button>
        </div>
    </form>
</body>

</html>