<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Success</title>
</head>

<body>
    <div>
        <h1>Register Success</h1>
        <p>Thank you for registering. Please check your email to verify your account.</p>
        <button type="button">
            <a href="/views/login" style="text-decoration: none;">Back to login</a>
        </button>
    </div>
</body>

</html>